{% extends 'base.html' %}
{% load static %}
{% block x %}
<div class="fs-2 text-center">Video <b color="green">
    <i class="fa-solid fa-image"></i>
    </b>
</div>
<div class="row my-3">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row">
            <!--video-->
            {% for x in vdata %}
            <div class="col-sm-3">
                <div class="card">
                    <iframe class="w-100 img-card-top" src="{{x.vlink}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">{{x.vtitle}}</h5>
                    <span class="btn btn-sm-bg-mycolor">{{x.vdate}}</span>
                    <p>{{x.vdes}}</p>
                </div>
                </div>
            </div>
            {% endfor %}
            <!--end video-->
        </div>

    </div>
    <div class="col-sm-1"></div>
</div>
{% endblock %}